h3{
	text-align:center;
}
.right{
	text-align:right;
}
.center{
	text-align:center;
}
.middle {
    padding: 1px;
	border: 1px solid rgb(0, 0, 0);
}
img {
    width: 100px;
    margin: 0;
}
.blue{
	background-color:blue;
}
.green{
	background-color:green;
}
/*  your css code here. If applicable */
