h3{
	text-align:center;
}
.right{
	text-align:right;
}
.center{
	text-align:center;
}
.middle {
    padding: 1px;
}
img {
    width: 100px;
    margin: 0;
}
.blue{
	background-color:blue;
}
.green{
	background-color:green;
}
table {
    border: 1px solid black;
    border-spacing: 1px;
    border-collapse: collapse;
}
/*  your css code here. If applicable */
