h3{
	text-align:center;
}
.right{
	text-align:right;
}
.center{
	text-align:center;
}
.middle{
/* 	border:1px solid black; */
}
img {
    width: 100px;
    margin: 0;
}
.blue{
	background-color:blue;
}
.green{
	background-color:green;
}
/*  your css code here. If applicable */
